<template>
    <div id="app">
        <GoogleMap />
    </div>
</template>

<script>
import GoogleMap from './GoogleMap.vue'

export default {
    name: 'App',
    components: {
        GoogleMap
    }
}
</script>
